@import url('./scrollbar.css');
@import url('./popup.css');

:root {
	--primary-color: #2979ff;
	--active-color: #2979ff;
	--hover-color: #1a73e8;
	--pressed-color: #0062cc;
	--danger-color: #E61D1D;
	--validate-color: #2979ff;
	--border-radius: 4px;

	/* Table */
	--table-row-header-height: 48px;
	--table-row-height: 40px;
	--table-row-color--selected: #e0ebff;
	--table-row-color--hover: #fbe9e7;

	/* Sidebar */
	--sidebar-item--active: #fbe9e7;
	--sidebar-item--hover: #e0ebff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Googlesans', sans-serif;
}

body {
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #000;
}

button, input, textarea {
	border: none;
	outline: none;
	background-color: #fff;
}

button {
	cursor: pointer;
}

ul {
	list-style: none;
}

.hide {
	display: none !important;
}

.bold {
	font-weight: bold;
}

.disable {
	opacity: .4;
}

.title {
	margin-bottom: 8px;
	line-height: 20px;
}

.header {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chev-left {
	background: url('../assets/icons.svg') no-repeat -224px -4px;
	width: 8px;
	height: 16px;
}

.chev-right {
	background: url('../assets/icons.svg') no-repeat -248px -4px;
	width: 8px;
	height: 16px;
}

.expand-arrow {
	height: 24px;
	width: 24px;
	background-image: url('../assets/expand-arrow-24.png');
}

.search-icon {
	background: url('../assets/icons.svg') no-repeat -292px -28px;
	width: 16px;
	height: 16px;
}

.add-icon {
	background: url('../assets/icons.svg') no-repeat -196px -100px;
	width: 16px;
	height: 16px;
}

.filter-icon {
	background: url('../assets/icons.svg') no-repeat -100px -49px;
	width: 20px;
	height: 20px;
}

.filtering-icon {
	background: url('../assets//filtering.svg') no-repeat -3px 0;
	width: 20px;
	height: 20px;
}

.right {
	margin-left: auto;
}

.left, .right {
	column-gap: 10px;
}

.df-row {
	display: flex;
	flex-direction: row;
}

.action {
  width: 36px;
  height: 36px;
  display: flex;
  background-color: #fff;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
}

.action + .action {
  margin-left: 4px;
}

.edit-icon {
	background: url('../assets/icons.svg') no-repeat -4px -76px;
	width: 16px;
	height: 16px;
}

.info-icon {
	background: url('../assets/icons.svg') no-repeat -171px -58px;
	width: 18px;
	height: 4px;
}

.close-icon {
	background: url('../assets/icons.svg') no-repeat -246px -30px;
	width: 12px;
	height: 12px;
}

.notify-icon {
	background: url('../assets/icons.svg') no-repeat -27px -50px;
	width: 18px;
	height: 20px;
}

.help-icon {
	background: url('../assets/icons.svg') no-repeat -50px -50px;
	width: 20px;
	height: 20px;
}

.document-icon {
	background: url('../assets/icons.svg') no-repeat -316px -74px;
	width: 16px;
	height: 20px;
}

.setting-icon {
	background: url('../assets/icons.svg') no-repeat -266px -170px;
	width: 20px;
	height: 20px;
}

.custom-arrow {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	position: absolute;
	bottom: 100%;
	z-index: 15;
	box-shadow: 0 -20px 20px 0 rgba(0, 0, 0, 0.08);
}

.close-icon {
	background: url('../assets/icons.svg') no-repeat -246px -30px;
	width: 12px;
	height: 12px;
}

.guide-icon {
	background: url('../assets/icons.svg') no-repeat -50px -50px;
	width: 20px;
	height: 20px;
}

.required-icon::after {
	content: '*';
	color: #E81E1E;
}

.sort-icon {
	width: 10px;
	height: 12px;
}

.sort-icon.sort-inc {
	background: transparent url('../assets/icons.svg') no-repeat -147px -122px;
}

.sort-icon.sort-decs {
	background: transparent url('../assets/icons.svg') no-repeat -163px -122px;
	
}